/* here you can put your own css to customize and override the theme */
.pagination > a{
    padding: 5px 12px;
    line-height: 1.42857;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50% !important;
}

.pagination > a.disabled{
    padding: 5px 12px;
    line-height: 1.42857;
    text-decoration: none;
    color: #bebebe;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50% !important;
}

.pagination > input{
    padding: 5px 10px;
    width: 40px;
    text-align: center;
}

#table-data_processing{
    margin: 0 auto !important;
    z-index: 999 !important;
    position: fixed !important;
    padding: 0px;
    /* margin: 0px; */
    width: 30% !important;
    height: 5% !important;
    top: 40% !important;
    left: 35% !important;
    text-align: center !important;
    background: #1914147a !important;
    /* opacity: 0.3; */
    color: #fff !important;
    /* vertical-align: text-bottom; */
    font-weight: bold;
    font-size: 20px;
    padding-top: 5px;
}