/* here you can put your own css to customize and override the theme */
.pagination{
    float: right;
}

.pagination > a{
    padding: 5px 12px;
    line-height: 1.42857;
    text-decoration: none;
    color: #337ab7;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50% !important;
}

.pagination > a.disabled{
    padding: 5px 12px;
    line-height: 1.42857;
    text-decoration: none;
    color: #bebebe;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 50% !important;
}

.pagination > input{
    padding: 5px 10px;
    width: 40px;
    text-align: center;
}

#data-info{
    margin: 15px 0 0 0;
}

#detail-payload{
    overflow: scroll;
}